<div class="landing-container">
    <nav class="navbar">
      <img src="assets/logo.jpg" class="logo">
      <span class="head-text">DIGITAL LAND REGISTRY</span>
    </nav>
    <header class="hero">
      <h2>Welcome to Digital Land Registry</h2>
      <p>A secure and transparent platform for managing land records.</p>
      <div class="auth-buttons">
        <!-- <button class="login-btn" (click)="goToLogin()">Login</button> -->
        <button class="signup-btn" (click)="goToSignUp()">Sign Up</button>
      </div>
    </header>
  </div>



