.full-page{
    background-color: black;
    height: 100vh;
}
.nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border-radius: 5px 5px 0 0;
    gap: 50px;
    height: 6%;
}
.nav-options{
    font-family: cursive;
    border: none;
    background: none;
    color: white;
    cursor: pointer;
    font-size: large;
}
.options{
    max-width: 90vw;
}
.profile-img{
    color: #fff;
}